

*, *::after, *::before {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  --aside-width: 400px;
  --main-color: palegoldenrod;
  --secondary-color: rgb(125, 88, 65);
  --links-color: rgb(28, 70, 105);
  --gap-width: 1rem;
  
}

::selection {
  background-color: var(--links-color);
  color: var(--main-color);
}

a {
  text-decoration: none;
  color: var(--links-color);
  padding: 0.2rem;
}

a:hover {
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;

}



ul, li {
  list-style: none;
}

img {
  display: block;
  /* width: 100%; */
  
}

.work-img {
  border: 1px solid var(--main-color);
}

h1, h2, h3, h4 {
  font-weight: 600;
  color: var(--secondary-color);

}

body {
  font-family: "Funnel Sans", "Noto Sans TC", sans-serif;
  display: flex;
  line-height: 1.8;
  color: #444;
  font-weight: 300;
  
}

aside {
  flex: 0 0 250px;
  padding: 3rem 2rem;
  /* flex-direction: column; */
  justify-content: space-between;
  position: fixed;
  border-right: 1px solid var(--main-color);
  height: 100vh;
}

.content {
  flex: 1;         
  min-width: 0; 
  margin-left: var(--aside-width);
}

section {
  padding: 1rem 3rem 1rem 0;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-color: var(--main-color) ;
}

nav {
  min-height: 60%;
}

nav > h4 {
  font-family: "Roboto Mono";
  font-weight: 800;
  letter-spacing: 0.12rem;
  /* font-style: italic; */
    color: rgb(22, 26, 32);
 
}

nav > ul {
  padding: 1rem;

}

nav > ul > li {
  padding: 0.5rem;
}


footer {
  display: flex;
  align-items: center;
  gap: var(--gap-width);
  justify-content: end;
  color: var(--secondary-color);
  font-size: 0.7rem;
  flex-wrap: wrap;
}

#about {
  padding: 3rem 0;
}


#work {
  max-width: 1050px;
  padding-top: 5rem;
  
}

.uiux {
  max-width: 800px;
  
}

.img-block {
  display: flex;
  gap: 16px;
  max-width: 900px;
  overflow-x: auto;
  padding-bottom: 0.4rem;
  /* border: 1px solid gainsboro; */
  padding: 1rem;
}

.img-block img {
  width: 720px;
}

.title {
  padding-bottom: 2rem;
}

.case {
  padding-bottom: 4rem;
}



.s-pjs {
  padding: 1rem;
  max-width: 800px;
}

.s-pjs > li{
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 1px solid gainsboro;
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.thumb {
  max-width: 120px;
  border: 1px solid var(--main-color);
}


footer {
  padding-top: 5rem;
  text-align: right;
  padding-right: 3rem;
  padding-bottom: 2rem;
}

.scope {
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  display: inline-block;
  font-size: 0.7rem;
  padding: 2px 4px;
  /* margin-top: 1rem;
  margin-right: 0.5rem; */
}

.duration {
  font-size: 0.7rem;

}

.captions {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-top: 1rem;
}

.place {
  flex: 1;
}

.tags {
  gap: 8px;
  display: flex;
}





@media screen and (max-width: 768px) {
  body {
    /* background-color: pink; */
    flex-direction: column;
  }


  aside {
    /* flex: 0 0 120px; */
    padding: 0.7rem ;
    position: fixed; 
    background-color: white;
    width: 100vw;
    height: auto;
    border-bottom: 1px solid var(--main-color);
  }
  
  /* nav ul {
    transition: transform 0.3s ease, opacity 0.2s ease;
    transform-origin: top;
  }

  nav ul.hide {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
  } */


  nav ul {
    padding: 0.5rem;
    flex-wrap: wrap; 
    display: flex;

  }


  nav > ul > li {
    flex-shrink: 0;    
  }

.content {
  margin-left: 0;
  margin-top: 9rem; 
  }


  section {
    padding: 1.4rem;
  }

  #about {
    padding: 1rem 2rem;
    max-width: 900px;
  }

  #work {
    padding-top: 3rem;
  }

  .img-block {
    padding: 0;
  }

  .img-block img {
  width: 400px;
}


  .captions {
    flex-wrap: wrap;
    gap: calc(var(--gap-width) / 2);
  }

  .place {
    flex: 1 0 100%;
  }

  .tags {
    flex: 1 0 auto;
  }

  .duration {
    font-size: 0.65rem;
  }

  .title {
    padding-bottom: var(--gap-width);
  }

  footer {
    padding: 5rem 1.4rem 2rem 1.4rem;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
}

#about > p {
  max-width: 66ch;
}

.whatido li {
  list-style: disc;
  /* list-style-position: outside; */
}

.whatido {
  padding-left:1rem;
}


.scroller::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    /* border: var(--main-color); */
}

.scroller::-webkit-scrollbar {
  width: 0.4rem; 
    height: 0.4rem;
}


.scroller::-webkit-scrollbar-track {
  background: gainsboro;
}

.commercial {
  max-width: 800px;
}

.illustration-work {
  display: flex;
  gap: var(--gap-width);
}

.illustration-work > li > .work-img {
  max-width: 400px;
}